<!DOCTYPE html>
<html>
  <body>
    <h1><%= user_name %> <%= user_surname %>'s page</h1>
    <p>Looks like you've requested information for the user with id <%= user_id %>.</p>
    <%= if user_name == "Marc" do %>
      Also, let me just say that Marc is awesome.
    <% end %>
  </body>
</html>
